@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
.navbar-dark {
<<<<<<< HEAD
  background-color: #000;
  border-bottom: 5px solid #4b64b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
=======
  background-color: #f4abba;
}

@font-face {
  font-family: "VT323-Regular";
  src: url("../fonts/VT323-Regular.ttf");
}

h1 {
  margin: 0px;
  font-size: 80%;
}

body {
  background-image: url("../images/fondos/stars1.png");
  font-family: "VT323-Regular";
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

#inicioJugar {
  font-family: "VT323-Regular";
  width: 120px;
  height: 50px;
  font-size: 1.5em;
<<<<<<< HEAD
  margin-top: 40px;
=======
  margin-top: 20px;
>>>>>>> f7b882044bd099801c559b3fc6fe2763a26e4022
  background-color: #f4abba;
  color: white;
  border-radius: none;
  outline: none;
}

.form-submit-button, .form-submit-button-img {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cabecera {
  font-family: "VT323-Regular";
  font-size: 3em;
  color: white;
}

/* #inicioFondo{
     margin-top:50px;
     background-image: url("../images/fondos/stars2.png");
     font-family: "VT323-Regular";
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;
    }
    */
.titulo {
  font-family: "VT323-Regular";
<<<<<<< HEAD
  font-size: 8em;
=======
  font-size: 5em;
>>>>>>> f7b882044bd099801c559b3fc6fe2763a26e4022
  color: white;
  margin-top: 90px;
  margin-bottom: 0px;
}

#inicioNombre {
  width: 200px;
  height: 45px;
  font-size: 2em;
  font-family: "VT323-Regular";
}

.inicio {
  font-family: "VT323-Regular";
<<<<<<< HEAD
  font-size: 3em;
=======
  font-size: 2em;
>>>>>>> f7b882044bd099801c559b3fc6fe2763a26e4022
  color: white;
  margin: 0px;
}

.nombre {
  width: 200px;
  height: 160px;
}

/* @media only screen and (max-width: 767px) {
     body{
    background-image: url("../images/stars.jpg");
    
    
   } */
/* 
h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 5rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #343434;
}

.container {
	position: relative;
	z-index: 0;
	background-color: #ededed;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
} */
.pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 30rem;
}

.pulse circle {
  fill: #f4abba;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1);
          animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1);
}

.pulse circle:nth-child(2) {
  fill: #6664b9;
  -webkit-animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
          animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
}

.pulse circle:nth-child(3) {
  fill: #13044b;
  -webkit-animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
          animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
}

@-webkit-keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#juegoFondo {
  background-image: url("../images/fondos/stars2.png");
>>>>>>> ef325d2a418afe714567b204004ea7503b56611a
}

h3 {
  color: #fff;
}

.juego-contenido {
  margin: 0 auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.izq,
.der {
  width: 20%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

<<<<<<< HEAD
.cent {
  padding-top: 25px;
  width: 55%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carta {
  width: 18%;
  height: 25%;
  background-color: red;
  background-image: url("../../img/cards/logoVerde.png");
  margin-bottom: 5px;
=======
.modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(244, 171, 186, 0.5);
  top: 0px;
  left: 0px;
}

.modal_window {
  width: 300px;
  height: 400px;
  background-color: #EA596E;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.modal_title {
  color: white;
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40px;
  font-weight: bold;
}

.modal_button {
  padding: 10px 5px;
  width: 47%;
  border-radius: 10px;
  color: #EA596E;
  font-weight: bold;
  margin-left: 5px;
}

/*
body {
    background-color: #fff;
    font-family: "goldman-regular";
    color: #aaa;
  } */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
>>>>>>> ef325d2a418afe714567b204004ea7503b56611a
}

* {
  margin: 0;
  padding: 0;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}
