.navbar-dark {
  background-color: #000;
  border-bottom: 5px solid #4b64b6;
}

@font-face {
  font-family: "VT323-Regular";
  src: url("../fonts/VT323-Regular.ttf");
}

h1 {
  margin: 0px;
}

body {
  background-image: url("../images/fondos/stars2.png");
  font-family: "VT323-Regular";
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

#inicioJugar {
  font-family: "VT323-Regular";
  width: 120px;
  height: 50px;
  font-size: 1.5em;
  margin-top: 50px;
  background-color: #f4abba;
  color: white;
  border-radius: none;
  outline: none;
}

.form-submit-button, .form-submit-button-img {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#inicioFondo {
  margin-top: 150px;
}

.titulo {
  font-family: "VT323-Regular";
  font-size: 9em;
  color: white;
  margin-top: 90px;
  margin-bottom: 0px;
}

#inicioNombre {
  width: 200px;
  height: 45px;
  font-size: 2em;
  font-family: "VT323-Regular";
}

.inicio {
  font-family: "VT323-Regular";
  font-size: 4em;
  color: white;
  margin: 0px;
}

.ocultar {
  display: none;
}

.nombre {
  width: 200px;
  height: 160px;
}

/* @media only screen and (max-width: 767px) {
     body{
    background-image: url("../images/stars.jpg");
    
    
   } */
#juegoFondo {
  background-image: url("../images/fondos/stars2.png");
}

h3 {
  margin-left: 492px;
  color: #fff;
}

.content {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-board {
  margin-top: 25px;
  width: 44%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 130px 130px 130px 130px;
      grid-template-columns: 130px 130px 130px 130px 130px;
  -ms-grid-rows: 130px 130px 130px 130px;
      grid-template-rows: 130px 130px 130px 130px;
  grid-gap: 1px;
}

.box {
  background-color: #444;
}

.jugador {
  margin-top: 25px;
  width: 25%;
}

.vidas {
  margin-top: 25px;
  margin-left: 155px;
}

.modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(244, 171, 186, 0.5);
  top: 0px;
  left: 0px;
}

.modal_window {
  width: 300px;
  height: 400px;
  background-color: #EA596E;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.modal_title {
  color: white;
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40px;
  font-weight: bold;
}

.modal_button {
  padding: 10px 5px;
  width: 47%;
  border-radius: 10px;
  color: #EA596E;
  font-weight: bold;
  margin-left: 5px;
}

/*
body {
    background-color: #fff;
    font-family: "goldman-regular";
    color: #aaa;
  } */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}

header form {
  width: 100%;
  text-align: center;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}
