.navbar-dark {
    background-color: #000;
    border-bottom: 5px solid #4b64b6;
  }

.ficha1, .ficha2, .ficha3, .ficha4, .ficha5 {
    width: 130px;
    height: 130px;
  }
  .heart {
    width: 28px;
    height: 28px;
    display: block;
  }