body {
  background-color: #fff;
  font-family: "goldman-regular";
  color: #aaa;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}

header form {
  width: 100%;
  text-align: center;
}



h3 {
  margin-left: 492px;
  color: #fff;
}

.content {
    margin-top: 75px;
  display: flex;
}
.game-board {
  margin-top: 25px;
  width: 44%;
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  grid-gap: 1px;
}


.box {
  background-color: #444;
}

.jugador {
  margin-top: 25px;
  width: 25%;
}
.vidas {
  margin-top: 25px;
  margin-left: 155px;
}