@font-face{
    font-family: "VT323-Regular";
     src: url("../fonts/VT323-Regular.ttf");
   }

  h1 {
    margin: 0px;
    font-size: 80%;
  }
  body{
    background-image: url("../images/fondos/stars2.png");
    font-family: "VT323-Regular";
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    }
    
 
   #inicioJugar{
     font-family: "VT323-Regular";
     width: 120px;
     height: 50px;
     font-size: 1.5em;
     margin-top: 20px;
     background-color: #f4abba;
     color:white;
     border-radius:none;
     outline:none;
   }
   
   .form-submit-button,.form-submit-button-img{
     box-shadow: none !important;
   }
   
   #inicioFondo{
     margin-top:150px;
   }
   
   .titulo{
     font-family: "VT323-Regular";
     font-size: 5em;
     color: white;
     margin-top: 90px;
     margin-bottom: 0px;
   }

   #inicioNombre{
     width: 200px;
     height: 45px;
     font-size: 2em;
     font-family: "VT323-Regular";
   }
   
   .inicio{
     font-family: "VT323-Regular";
     font-size: 2em;
     color: white;
     margin: 0px;
   }
   
   
   .ocultar{
     display:none;
   }
   .nombre{
     width: 200px;
     height: 160px;
   }
   
   /* @media only screen and (max-width: 767px) {
     body{
    background-image: url("../images/stars.jpg");
    
    
   } */