$columnas:5;


#pantallaJuego {
  background-image: url("../images/fondos/stars1.png");
  font-family: "VT323-Regular";
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height:100vh;
  padding-top: 10px;
}

/* .izq,
.cent,
.der{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.wrapper {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  grid-gap: 10px;
}

.estrella{
  display: inline-block;
}
.cajaNombre,
.actions{
  text-align: center;
  display: grid;
  align-items: center;
  background-color:  rgba(244, 171, 186, 0.8);
  border-radius: 18px;
  margin: 5px;
  padding-bottom: 30px;
}
#tablero .cartita:nth-child(1) {
  display:none;
  
}
