$columnas:5;


#pantallaJuego {
  background-image: url("../images/fondos/stars1.png");
  font-family: "VT323-Regular";
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height:100%;
  min-height: 700px;
}

.izq,
.cent,
.der{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  grid-gap: 10px;
}
.carta{
  width: 100px;
}
.cajaNombre,
.actions{
  text-align: center;
  width: 75%;
  background-color: rgba(245, 222, 179, 0.836);
  border-radius: 25px;
  padding: 30px;
}

